:root{
    --main-text-color: greenyellow;
    --main-background-color: gray;
    --main-font-family: Lucida Sans Unicode;
    --main-font-size: 1em;
    --main-link-color: white;
    --main-background: darkGray;
    --main-nav-shadow: rgba(0,0,0, .5);
    --main-initial-color: rgba(61, 61, 60, .5); 
    --main-final-color: rgba(0, 0, 0, .5); 
    --main-hover-link-color: rgba(34, 0, 34, 0); 
    --main-active-link-color: rgba(30, 30, 30, 0); 
}

@keyframes animateTitle{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

body{
    width: 100%;
    margin: 0;
}

*{
    font-family: var(--main-font-family);
}

*:focus {
    outline: none;
}

header{
    width: 100%;
    position: relative;
}


header > h1{
    color: greenyellow;
    background-color: black;
    text-align: center;
    font-size: 8em;
    transition: color 3s;
    animation-name: animateTitle;
    animation-duration: 2s;
}

header > h1:hover{
    color: yellow;
}

div.searchBox {
    float: right;
    clear: right;
    margin: 10px 50px;
}

div.searchBox > input[type=text]{
    padding: 10px 5px;
    border-radius: 8px 0 0 8px;
    border: 1px solid var(--main-background);
    border-right: none;
    width: 100px;
    margin: 0;
    transition: width 0.5s ease-in-out;
}

div.searchBox > input[type=text] + button{
    color: var(--main-link-color);
    padding: 10px 5px;
    border-radius: 0 8px 8px 0;
    border: 1px solid var(--main-background);
    border-left: none;
    margin-left: -5px;
    background-color: var(--main-background-color);
}

div.searchBox > input[type=text]:focus{
    width: 300px;

}


/*div.searchBox > button{
    padding: 10px 5px;
    border-radius: 0 8px 8px 0;
    margin: 0;
}*/

nav{
    width: 100%;    
}

nav > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--main-background-color);
}

nav > ul > li{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-left: 1px solid var(--main-link-color);
}

nav > ul > li > a:hover{
    background-color: var(--main-hover-link-color);
}

nav > ul > li > a:active{
    background-color: var(--main-active-link-color);    
}


nav a {
    color: var(--main-link-color);
    text-align: center;    
    padding: 14px, 16px;
    display: inline-block;

}

li.dropDown:hover .dropDownContent {
    display: block;
}

div.dropDownContent{
    position: absolute;
    min-width: 160px;
    background-color: var(--main-background);
    border-radius: 0 0 10px 10px;
    box-shadow: 5px 5px 20px var(--main-nav-shadow);    
    background: linear-gradient(to bottom, var(--main-initial-color), var(--main-final-color));
    display: none;
}

div.dropDownContent ul{
    padding: 0;
}

div.dropDownContent ul > li{
    list-style-type: none;
}

div.dropDownContent ul > li{
    list-style-type: none;
}

div.dropDownContent a{
    display: inline-block;
}

section.container {
    width: 100%;
    padding-top: 20px;
    box-sizing: border-box;

}

section.main-Content {
    width: 600px;
    padding: 0 20px;
    float: left;
}

.article {
    width: 50%;
}

.article  p{
    text-align: justify;
}

.article img {
    align-content: center;
    width: 300px;
    box-shadow: 10px 10px 5px grey;

}

.aside {
    float: right;
    width: 400px;
    margin-right:  100px;
    box-shadow: 8px 5px 20px var(--main-nav-shadow);
    padding: 0 15px;
    box-sizing: border-box;
}

.footer {
    clear: both;
    background-color: var(--main-background-color);
    color: var(--main-link-color);
    padding: 10px;
    float: left; 
}

.footer > address {
    float: right;
    text-align: center;
    color: var(--main-background);
    box-shadow: 10px 10px 5px grey;
}

#main_flex{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    padding-bottom: 20px;
    flex-direction: column; 
}

.container > .main-content {
    flex: 3 1 400px;
}

.container > aside {
    flex:  1 1;
    max-height: 500px;
}

#tabs{
    padding: 0 20px;
}

.nav {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding-left: 0;
}

.nav-tabs{
    border-bottom: 1px solid #dee2e6;
}

.nav-item {
    margin-bottom: -1px;
}

.nav-link{
    display: block;
    padding: 0px 16px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: var(--main-final-color);
    }

.nav-tabs .nav-link.active{
    color: var(--main-text-color);
    border-color: var(--main-background);
    border-bottom-color: white;
}

.nav-tabs .nav-item:hover .nav-link{
    color: var(--main-background-color);    
    border-color: var(--main-background);
    border-bottom-color: white;
}


.form-section { 
    width: 50%; 
    background-color: #f2f2f2; 
    padding: 20px; 
    border-radius: 10px; 
    display: flex; 
    flex-flow: column; 
    margin-left: 20px;
}

.form-section .row { 
    margin: 10px 0; 
    flex: 1 1 100%; 
    display: flex; 
    flex-flow: column; 
}

.form-section .row label{
    color: #333;
    padding: 10px 0;
}

input[type=text], select, textarea, input[list]{
    padding: 10px; 
    border: 1px solid #CCC; 
    border-radius: 5px; 
}
button[type=submit],button[type=reset]{
    background-color: #cc6600; 
    color: white; 
    padding: 12px 20px; 
    border: none;
    margin-bottom: 5px; 
    border-radius: 10px; 
    background: linear-gradient(to right,rgba(35, 31 , 20,.8), rgba(116,255,51,1));
}

input:invalid{
    border-color: red;
}

.tab-content .tab-panel{
    display: none;
}

.tab-content .tab-panel.show{
    display: block;
}

.table {
    width: 50%;
    max-width: 100%;
    margin-bottom: 16px;
    background-color: transparent;  
}

.table thead th{
    vertical-align: bottom;
    max-width: 2px solid #dee2e6;
    padding: 16px;
    text-align: inherit;
}

.table tbody td {
    padding: 10px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table.table-striped tbody tr:nth-child(odd){
    background-color: rgba(0,0,0,2);
}

@media screen and (max-width: 700px){
    nav > ul > li{
        display: block;
        border-left: none;
        border-bottom: 1px solid var(--main-link-color);
    }
    
    nav a {
        width: 100%;
    }

    div.dropDownContent {
        position: relative;
        border-radius: 0;
    }
    
}